@use "commons";

:root {
  --global-background-color                : #FBFBFD;
  /* --global-background-image             : linear-gradient(120deg, #EBEBAA40, #AAEBEA40, #EBAAEA40); */
  --global-color                           : #263238;
  --link-color                             : #263238;
  --link-hover-background-color            : transparent;
  --link-hover-color                       : #3c8baf;

  --header-background-color: transparent;
  --header-color           : inherit;

  --nav-link-color                 : var(--link-color);
  --nav-link-hover-background-color: #455A64;
  --nav-link-hover-color           : #F5F5F5;

  --footer-background-color: transparent;
  --footer-color           : #212121;
  --footer-link-color      : var(--footer-color);
  --footer-link-hover-color: #616161;
}

body {
  background-color      : var(--global-background-color);
  /* background-image   :  var(--global-background-image); */
  /* background-position: fixed; */
  color                 : var(--global-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

a {
  color: var(--link-color);
}

a:focus,
a:hover {
  background-color: var(--link-hover-background-color);
  color           : var(--link-hover-color);
}

#warpper {
  min-height: 100vh;
}

.box-mt-fixed {
  margin-top: -15%;
}

.logo {
  svg {
    width : 7rem;
    height: 7rem;
  }
}

.list {
  margin-top: 1.5rem;

  li {
    margin-top: .15rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

footer {
  font-size: .9rem;
  font-weight: 300;
  margin-top: -3rem;

  div {
    margin-top: .15rem;
    margin-bottom: .15rem;
  }
}
