:root {
  --global-background-color                : #FBFBFD;
  /* --global-background-image             : linear-gradient(120deg, #EBEBAA40, #AAEBEA40, #EBAAEA40); */
  --global-color                           : #263238;
  --link-color                             : #263238;
  --link-hover-background-color            : transparent;
  --link-hover-color                       : #3c8baf;

  --header-background-color: transparent;
  --header-color           : inherit;

  --nav-link-color                 : var(--link-color);
  --nav-link-hover-background-color: #455A64;
  --nav-link-hover-color           : #F5F5F5;

  --footer-background-color: transparent;
  --footer-color           : #212121;
  --footer-link-color      : var(--footer-color);
  --footer-link-hover-color: #616161;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --global-background-color             : #212121;
//     /* --global-background-image             : linear-gradient(120deg, #EBEBAA40, #AAEBEA40, #EBAAEA40); */
//     --global-color                        : #FAFAFC;
//     --link-color                          : #FAFAFC;
//     --link-hover-background-color         : transparent;
//     --link-hover-color                    : #18a7e9;
    
//     --nav-link-hover-background-color     : #26C6DA;
//     --nav-link-hover-color                : #424242;

//     --footer-background-color             : transparent;
//     --footer-color                        : #FAFAFC;
//     --footer-link-color                   : var(--footer-color);
//     --footer-link-hover-color             : #B0B0B0;
//   }
// }


body {
  background-color      : var(--global-background-color);
  /* background-image   :  var(--global-background-image); */
  /* background-position: fixed; */
  color                 : var(--global-color);
}

a {
  color: var(--link-color);
}

a:focus,
a:hover {
  background-color: var(--link-hover-background-color);
  color           : var(--link-hover-color);
}

header {
  background-color: var(--header-background-color);
  color: var(--header-color);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.logobox {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: .15rem;
  margin-left: .25rem;
}

.logo svg {
  width : 6rem;
  height: 6rem;
}

.logobox .title {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
}
nav ul {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
nav li {
  display: inline;
  margin: .125rem 0;
}
@media only screen and (min-width: 768px) {
  nav li {
     margin: 0;
  }
}

nav a {
  color: var(--nav-link-color);
  padding: 1rem;
}
nav a:hover,
nav a:focus {
  background-color: var(--nav-link-hover-background-color);
  color: var(--nav-link-hover-color);
}

.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box-mt-fixed {
  margin-top: -10%;
}

.list {
  margin-top: 1.5rem;
}
.list li {
  margin-top: .15rem;
}
.list li:first-child {
  margin-top: 0;
}

footer {
  font-size: .9rem;
  font-weight: 300;
  min-height: 3rem;
  display: flex;
}