---
import { site } from '../site.config';
import {
  formatCopyrightBlock,
  getCopyrightNotice,
  getLicenseIcon,
  shouldShowCopyright,
} from '../utils/copyright';
import { t } from '../i18n';

interface Props {
  postTitle: string;
  canonicalUrl: string;
}

const { postTitle, canonicalUrl } = Astro.props;
const locale = site.language;
const i18n = t(locale);
const cfg = site.copyright;
const show = shouldShowCopyright(cfg);
const licenseKey = cfg.type.replace(/\./g, '_');
const notice = show ? getCopyrightNotice(licenseKey, locale) : '';
const icon = show && cfg.showLicenseIcon ? getLicenseIcon(licenseKey) : null;
const formatBlock = formatCopyrightBlock(postTitle, site.author, canonicalUrl, locale);
const additionalNote = cfg.additionalNote || i18n.copyrightAdditionalNote;
---

{show && (
  <div class="post-license">
    <p>
      {icon && (
        <span class="license-icon" aria-hidden="true">
          <i>{icon}</i>
        </span>
      )}
      <span set:html={notice} />
    </p>
    {cfg.showStandardFormat && additionalNote && <p>{additionalNote}</p>}
    {cfg.showStandardFormat && (
      <div class="license-format-code">
        <code set:html={formatBlock} />
      </div>
    )}
  </div>
)}
